{% extends 'layout.html' %}
{% block title%}修改博文{%endblock%}
{% block head%}
{%endblock%}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <form method="post" action="/admin/blog/update">
                <input type="hidden" name="blogId" class="form-control" id="blogId" value="{{blog._id.toString()}}">
                <div class="form-group">
                    <label for="categoryName">选择栏目名称</label>
                    <select name="categoryName" class="form-control" id="categoryName">
                        {% for c in categories %}
                        <option value="{{c._id.toString()}}">{{c.username}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="title">标题</label>
                    <input type="text" name="title" class="form-control" id="title" value="{{blog.title}}">
                </div>
                <div class="form-group">
                    <label for="abstract">简介</label>
                    <textarea type="text" name="abstract" rows="5" class="form-control"
                              id="abstract">{{blog.abstract}}</textarea>
                </div>
                <div class="form-group">
                    <label for="content">内容</label>
                    <textarea type="bool" name="content" class="form-control" rows="10"
                              id="content">{{blog.content}}</textarea>
                </div>
                <div class="form-group">
                    <label for="order">排序号</label>
                    <input type="text" name="order" class="form-control" id="order" value="{{blog.order}}">
                </div>
                <!--  <div class="checkbox">
                      <label for = "status">
                          <input type="checkbox" name="status" id="status" checked="checked"/> 是否公开
                      </label>
                  </div>-->
                <button type="submit" class="btn btn-default">修改</button>
            </form>
        </div>

    </div>

</div>
{% endblock %}