{% extends 'layout.html' %}

{% block title%}忘记密码{%endblock%}
{% block head%}
{%endblock%}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <form method="post" action="/account/forget">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email账号</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" value="{{user.email}}">
                </div>
                <button type="submit" class="btn btn-default">发送</button>
            </form>
        </div>

    </div>

</div>
{% endblock %}